acmeesb/src/main/app/acmeesb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    
    <flow name="ACME-WS-Proxy-Flow" doc:name="ACME-WS-Proxy-Flow">
        <http:inbound-endpoint exchange-pattern="request-response" address="http://localhost:8081/ACMETransactions/services" doc:name="HTTP Server"/>
        <set-variable variableName="initM" value="#[server.nanoTime()]" doc:name="InitMiddTime"/>
        <response>
            <logger message="Midd:[ #[flowVars['initM']] , #[flowVars['endM']] ]      WS:[ #[flowVars['initWS']] ,  #[flowVars['endWS']]   RespWS: #[(flowVars['endWS'] - flowVars['initWS'])/1e6]     RespMidd: #[(flowVars['endM'] - flowVars['initM'])/1e6] " level="INFO" doc:name="Logger Time"/>
        </response>
        <response>
            <set-variable variableName="endM" value="#[server.nanoTime()]" doc:name="EndMiddTime"/>
        </response>
        <cxf:proxy-service  payload="envelope" doc:name="SOAP Server Proxy"/>
        
        <enricher source="#[payload]" target="#[payload]" doc:name="Message Enricher">
        	
            <choice doc:name="Check if has legacy namespace">
                <when expression= "xpath://*[namespace-uri()='ACME']">
                <!-- "(message.payload.getElementsByTagName('messageId').getLength() == 0)"> -->
                    
                    <expression-component doc:name="Add messageId/change namespace">
                    <![CDATA[
						
						import java.security.MessageDigest;
						import java.math.BigInteger;						
						import org.dom4j.*;					
						
						document = message.payload;

						String xmlData = document.asXML();
						//change namespace
						xmlData = xmlData.replaceAll("\"ACME\"","\"ACMEv1\"");
		
						//generate UUID -- Data
						MessageDigest md = MessageDigest.getInstance("SHA-256");
						md.update(xmlData.getBytes());
						BigInteger number = new BigInteger(1, md.digest());
	      				String data = number.toString(16);

						//Ruta exacta para asegurarme que lo agrego en el lugar correcto.
						Node transNode = document.selectSingleNode( "/*[local-name()='Envelope']/*[local-name()='Body']/*[local-name()='Transactions']" );
						
						//Solo agrego el nodo si no existe.
						if(transNode.selectSingleNode("./*[local-name()='messageId']")==null){													
							Element messageIdNode = transNode.addElement("messageId");                     												
							messageIdNode.setText("legacy-" + data);						
						}
								
						String nuevoXML = document.asXML();
						
						//Reemplazo namespace nuevamente
						nuevoXML = nuevoXML.replaceAll("\"ACME\"","\"ACMEv1\"");
						//transformo a doc
						Document newDocument = DocumentHelper.parseText(nuevoXML);
						message.payload = newDocument;
												
								  
					]]></expression-component>
					<logger 
					message="Mensaje es de cliente legacy, con messageId: #[xpath://*[local-name()='messageId']]" 
					level="INFO" doc:name="Log Legacy"
					/>
                </when>
                <otherwise>
                    <logger message="Mensaje es de cliente nuevo, no se realizan acciones." level="INFO" doc:name="Log New"/>
                </otherwise>
            </choice>
        </enricher>
	    <cxf:proxy-client doc:name="SOAP Client Proxy" payload="envelope"/>
        <response>
            <set-variable variableName="endWS" value="#[server.nanoTime()]" doc:name="EndWSTime"/>
        </response>
        <set-variable variableName="initWS" value="#[server.nanoTime()]" doc:name="InitWSTime"/>
	    
	    <http:outbound-endpoint exchange-pattern="request-response" address="http://localhost:8080/ACMETransactions/services" doc:name="SOAP Real Service"/>	    
    </flow>
</mule>
